.santoGrial {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.santoGrialBody {
  display: flex;
  flex: 1;
}

.santoGrial main {
  flex: 1;
}

.santoGrial nav, .santoGrial aside {
  flex: 0 0 12em;
}

.santoGrial nav {
  order: -1;
}

.santoGrial,
.santoGrialBody {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .santoGrialBody {
    flex-direction: row;
    flex: 1;
  }
  .santoGrial main {
    flex: 1;
  }
  .santoGrial nav, .santoGrial aside {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}